body {
margin: 0%;
padding: 0% ;
font-family: Arial, Helvetica, sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh ;
    width: 100vw;
}

.header {
    display: flex;
    justify-content: center;
    flex: 0.7 ;
    background-color: rgba(0,0,0,0.8);;

}
.header svg {
    margin: 0 21px;
}


.body {
    flex: 9;
    background-color: rgba(245,245,247,0.3);
   
}

.b-1 {
    height: 120px ;
    width: 100%;
    background-color: rgba(245,245,247,1);
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.b-1-logo {
    width: 68px;
    height: 86px;
    display: flex;
    flex-direction: column;
    margin: 0 10px;
    font-size: 11px;
    align-items: center;
    justify-content: center;

}

.b-2c {
    display: flex;
    flex-direction: column;

}

.b-2c-h {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 22px ;

}
.b-buy {
    
padding: 8px 16px;
border-radius: 980px;
background: #0071e3;
color: #fff;
font-weight: 100;
}
.fffff {
    margin-right: 5px;
}
.icon-copy {
fill: #0071e3;
color: #0071e3;
}
.pdd {
    
    padding: 3px;
    border: 1px solid #0071e3;
    border-radius: 50%;
}
.b-2c-b {
    display: flex;
    justify-content: center;
}

.b-3c {
    display: flex;
    padding: 125px 0px;
    margin: 0 152px;
}

.b-3c-b p {
    margin-left: 60px    ;
    font-size: 19px;
    font-weight: 600;
}
.b-3c-b h2 {
    margin-left: 60px    ;
    font-size: 70px;
    width: 437px;
    line-height: 1.05;
    font-weight: 600;
}

.s-c {
    cursor: pointer;
}
.s-c:hover {
    fill: #0071e3;
    color: #0071e3;
}